}

.voiceUser-14U_Ns > .content-3xS9Lh > .avatar-3elDyV[style*="664593276678045716"] + .username-lm8y6T::after{
    content: "^^";
    background-position: top;
    background-image: url(https://i.imgur.com/uqv4uHn.gif) !important;

    margin-left: 10px;
    color: transparent;
    content: "||||||"
    background-repeat: no-repeat;
    background-image: url(https://i.imgur.com/uqv4uHn.gif) !important;


}
 
.voiceUser-14U_Ns > .content-3xS9Lh > .avatar-3elDyV[style*="131855271394803712"] + .username-lm8y6T::after{
    content: "^^";
    background-position: top;
    background-image: url(https://i.imgur.com/uqv4uHn.gif) !important;

    margin-left: 10px;
    color: transparent;
    content: "||||||"
    background-repeat: no-repeat;
    background-image: url(https://i.imgur.com/uqv4uHn.gif) !important;

} 

.typeWindows-1za-n7 {
    background-image: url(https://i.imgur.com/M5JKmFl.gif) !important

}
.subtext-3CDbHg {
    background: linear-gradient(to right, #3381ff , #00e5ff , #3333ff, #33eeff) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: rainbow_animation 6s ease-in-out infinite !important;
    background-size: 400% 100% !important;

}

.title-eS5yk3 {
    background: linear-gradient(to right, #3381ff , #00e5ff , #3333ff, #33eeff) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: rainbow_animation 6s ease-in-out infinite !important;
    background-size: 400% 100% !important;
}

}

.base-3dtUhz, .sidebar-2K8pFh {
    background: linear-gradient(to right, #3381ff , #00e5ff , #3333ff, #33eeff) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: rainbow_animation 6s ease-in-out infinite !important;
    background-size: 400% 100% !important;
}

.container-PNkimc {
    background: linear-gradient(to right, #3381ff , #00e5ff , #3333ff, #33eeff) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: rainbow_animation 6s ease-in-out infinite !important;
    background-size: 400% 100% !important;

}
.name-3_Dsmg {
    background: linear-gradient(to right, #3381ff , #00e5ff , #3333ff, #33eeff) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: rainbow_animation 6s ease-in-out infinite !important;
    background-size: 400% 100% !important;
}

}

.name-3YKhmS, .tierTooltipTitle-1EIbL_ {
    background: linear-gradient(to right, #3381ff , #00e5ff , #3333ff, #33eeff) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: rainbow_animation 6s ease-in-out infinite !important;
    background-size: 400% 100% !important;
}
   
.membersGroup-v9BXpm::after, .membersGroup-v9BXpm::before {display:none;}

}

.membersGroup-v9BXpm::before {
    box-shadow: 80px 50px 30px 0 #DC143C;
}

.membersGroup-v9BXpm::after {
    box-shadow: -80px 50px 30px 0 #FF0000;

}

.scrollableContainer-2NUZem {
    background-color: var(--backgroundTexbox);
}

.headerSpotify-zpWxgT {
    background-image: linear-gradient(to right top, rgb(255,0,0), rgb(255,0,0));
}

.rtcConnectionStatus-2-jIsi {Background-color: transparent !important}
.bd-addon-list .bd-addon-card {
    background: black!important;
}

.wordmarkWindows-1v0lYD{
    content: url("https://i.imgur.com/g87IQCL.png");
     width:100px;
     height:16px;
     opacity:0.7;
}

.wordmark-2iDDfm svg {
    background-image: var(--logo);
    background-size: contain;
    width: 100px;
    height: 16px;
    margin-left: 0px;
    display: block;
    padding: 0;
    background-position: unset;
    background-repeat: no-repeat;
}


@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

@keyframes rainbow_animation-2 {
    0%,100% {
        border-image-position: 0 0;
    }

    50% {
        border-image-position: 100% 0;
    }
}

.roleColor-rz2vM0 {
    background: linear-gradient(to right, #ff0000 , #00e5ff , #ff0000, #0400ff) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: rainbow_animation 6s ease-in-out infinite !important;
    background-size: 400% 100% !important;
}

.username-_4ZSMR {
    background: linear-gradient(to right, #ff0000 , #00e5ff , #ff0000, #0400ff) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: rainbow_animation 6s ease-in-out infinite !important;
    background-size: 400% 100% !important;
}

.listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .username-lm8y6T, .usernameSpeaking-2xbKKh {
    background: linear-gradient(to right, #ff0000 , #00e5ff , #ff0000, #0400ff) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: rainbow_animation 6s ease-in-out infinite !important;
    background-size: 400% 100% !important;
}
.name-uJV0GL {
    background: linear-gradient(to right, #ff0000 , #00e5ff , #ff0000, #0400ff) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    color: transparent !important;
    animation: rainbow_animation 6s ease-in-out infinite !important;
    background-size: 400% 100% !important;
}
.avatar-1BDn8e[src*="131855271394803712"] + h2 > .username-1A8OIy::before {
    background-image: url(https://media.giphy.com/media/LpDmM2wSt6Hm5fKJVa/giphy.gif);
}
